body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px;
}
.flexible{
    display: flex;
    margin: % 0px;
    
    
}
.top{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    background-position: ;
    margin-bottom: 200px;
}
.jibon{
    width: 50%;
    margin: 0px 7%;
    padding: 10px 0px;
}
.jibon p{
    font-style: italic;
    color: rgb(128, 103, 103);
}
.jibon img{
    width: 100%;
}
span{
    color: orange;
}
h1{
    font-size: 50px;
    font-weight:900;
}
h2{
    font-size: 40px;
    font-weight: bolder;
}
.hire{
    text-decoration: none;
    font-weight: 900;
    background-image:linear-gradient(orange,salmon);
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
}
.middle{
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.bottom{
    margin: 100px 0px;
}

.down{
    width: 100%;
    display:flex;
   
   
   
}
.full-stack{
    width: 50%;
    margin: 0px 7%;
    padding: 10px 0px;
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 0 5%;
}
.junior{
    
    width: 50%;
    margin: 0px 7%;
    padding: 10px 0px;
    width: 40%;
    margin: 0 5%;
    box-shadow: 10px 10px 40px gray;
    
    
}
.down{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.junior h1{
    font-size: 40px;
}
.full-stack h1{
    font-size: 40px;
}
#border{
    border-image:linear-gradient(cyan,salmon);
    border-image-slice: 1;
    border-left: 4px solid;
}
#border2{
    border-image:linear-gradient(blue,salmon);
    border-image-slice: 1;
    border-left: 4px solid;
}
footer{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
footer p{
    font-style: italic;
    color: rgb(38, 35, 35);
}